nav ul li{
    list-style-type: none;
    display: inline-block
}
ul li a{
    color: black;
    letter-spacing: normal;
}
.main li{
    float: left;
    padding: 35px;
}
form{
    padding: 35px;
}
input[type="search"]{
    font-size: 15px;
}
.buttomSearch {
    height: 50px;
    width: 120px;
    color: blue;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
}
/* Filtres */
.margFiltre {
    margin-top: 50px;
    margin-bottom: 40px;
}
.filtre {
    display: flex;
    align-items: center;
}
.margFiltreTitre {
    margin-right: 20px;
}
.filtreTexteIcons {
    border: 2px solid cornsilk;
    height: 50px;
    border-radius: 30px;
    margin-right: 20px;
}
.filtreTexteIcons:hover > .filtreTexte {
    color: blue;
}



