/* GENERAL */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;500&display=swap');


html,
body{  
    font-family: 'Raleway',sans-serif;
}
.flex-centre {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flex-betweens {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-start{
    display: flex;
    align-items: start;
}
.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-column-centre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex-column-around {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.flex-column-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.circle {
    width: 20px;
    height: 20px;
    padding: 10px;
    background-color: #deebff;
    border-radius: 100%;
}
.filtre-texte-icones {
    height: 40px;
    width: 700px;
    border-radius: 50px;
    margin-right: 20px;
}
.filtre-texte-icone {
    height: 40px;
    width: 190px;
    border: 1px solid rgb(187, 182, 182);
    border-radius: 50px;
    margin-right: 20px;
}
.bordure-none {
    border: none;
}
.section-title {
    font-weight: bold;
}
.color {
    color: #0065FC;
}
.coleur {
    color: #f2f2f2;
}
.color-bleu {
    background-color: #0065FC;
}
.color-bleu-clair {
    background-color: #deebff;
}
.color-gris {
    background-color: #f2f2f2;
}
.back-bleu {
    background-color: blue;
}
.back-bleu-clair {
    background-color: #deebff;
}
.back-gris {
    background-color: #f2f2f2;
}
/* NAV*/
.size-liens {
    width: 100%;
}
.size-lien12 {
    width: 60%;
}
.size-lien {
    width: 140px;
    height: 99px;
}
.color-lien13 {
    color: blue;
}
.color-lien2 {
    color: black;
}
.bordure-nav:hover {
    border-top: 1px solid blue;
    cursor: pointer;
}
.bordure-nav {
    border-top: 1px solid transparent;
}
.bordure-nav3 {
    border-top: 1px solid #0065FC;
    }
.marg-logo {
    margin-bottom: 7px;
}
.texte {
    text-decoration: none;
}
/* INFO ICONS */
.info {
    display: flex;
    align-items: center;
}
.round {
    width: 25px;
    height: 25px;
    text-align: center;
    border: 1px solid rgb(187, 182, 182);
    border-radius: 25px;
    margin-right: 5px;
}
.parent-icons {
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 25px;
    margin-right: 5px;
}
/* HEBERGEMENTS */
.flex-around {
    display: flex;
}
.size-hebergements {
    flex: 2;
    width: 85%;
    height: 650px;
    margin-right: 20px;
    border-radius: 10px;
    background-color: #f2f2f2;
}
.bloc-hebergements {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
}
.bloc1 {
    margin-bottom: 10px;
}
.bloc2 {
    margin-top: 10px;
}
.cube-hebergements {
    width: 40%;
    height: auto;
    background-color: white;
    padding: 0.5%;
    border-radius: 20px;
    margin-right: 40px;
    cursor: pointer;
    box-shadow: 2px 2px rgb(238, 231, 231);
} 
.cube-hebergements:hover {
    transform: scale(1.05);
}
.cube-details-hebergements {
    width: 90%;
}
.size-populaires{
    flex: 1;
    width: 15%;
    height: 650px;
    margin-left: 20px;
    border-radius: 10px;
    background-color: #f2f2f2;
}
.imghebergements1 {
    background-image: url(./Image-booki/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}
.imghebergements2 {
    background-image: url(./Image-booki/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}
.imghebergements3 {
    background-image: url(./Image-booki/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}
.imghebergements4 {
    background-image: url(./Image-booki/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}
.imghebergements5 {
    background-image: url(./Image-booki/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}
.imghebergements6 {
    background-image: url(./Image-booki/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}

/* POPULAIRES */
.flex-around {
    display: flex;
}
.bloc3 {
    margin-top: 20px;
}
.cube-imgpopulaires {
    width: 85%;
    height: 155px;
    background-color: white;
    padding: 1%;
    border-radius: 20px;
    margin-bottom: 30px;
    box-shadow: 2px 2px rgb(238, 231, 231);
} 
.cube-imgpopulaires:hover {
    transform: scale(1.05);
}
.cube-details-imgpopulaires {
    width: 95%;
    height: 130px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 20px;
}
.imgpopulairess1 {
    background-image: url(./Image-booki/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 155px;
    border-radius: 15px 0 0 15px;
}
.no-bullet {
    list-style-type: none;
}
.imgpopulairess2 {
    background-image: url(./Image-booki/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 155px;
    border-radius: 15px 0 0 15px;
}
.imgpopulairess3 {
    background-image: url(./Image-booki/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 155px;
    border-radius: 15px 0 0 15px;
}
/* ACTIVITES */
.activités {
    margin-top: 50px;
    margin-bottom: 50px;
}
.bloc-activités {
    width: 96.5%;
    height: 600px;
}
.bloc-activités2356 {
    width: 25%;
    height: 590px;
}
/* reglage bloc */ 
.cube-activités {
    width: 25%;
    border-radius: 15PX;
    margin-left: 3rem;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
}
.cube-activités:hover {
    transform: scale(1.05);
}
.cube-activités2356:hover{
    transform: scale(1.05);
}
.cube-activités2356 {
    width: 95%;
    border-radius: 15px;
    margin-left: 3rem;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
}
/* fin reglage bloc*/
.hauteur {
    height: 70px;
}
.titre-activités {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5%;
    width: 95%;
}
.img-activités1 {
    background-image: url(./Image-booki/2_large/Bateau.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 530px;
    border-radius: 15px 15px 0 0;
}
.img-activités2 {
    background-image: url(./Image-booki/2_large/Rocher.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 250px;
    border-radius: 15px 15px 0 0;
}
.img-activités3 {
    background-image: url(./Image-booki/2_large/Ocean.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 150px;
    border-radius: 15px 15px 0 0;
}
.img-activités4 {
    background-image: url(./Image-booki/2_large/Ciel.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 530px;
    border-radius: 15px 15px 0 0;
}
.img-activités5 {
    background-image: url(./Image-booki/2_large/Maison.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px;
    border-radius: 15px 15px 0 0;
}
.img-activités6 {
    background-image: url(./Image-booki/2_large/Palais.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px;
    border-radius: 15px 15px 0 0;
}
/* footer */
.footer {
    height: 250px;
    background-color: rgba(128, 128, 128, 0.164);
}
.tailles-bloo-foot {
    height: 100px;
}
.tailles-bloo-foots {
    height: 50px;
}
.marge-bloc-foot1 {
    margin-left: 5%;
}
.marge-bloc-foot3 {
    margin-right: 30%;
}
/* IMAGE */
img {
    width: 250px;
    height: 200px;
    object-fit: cover;
}
.left-images {
    display: inline;
    width: 60%;
    height: 100%;
}
.right-images {
    display: inline;
    width: 30%;
    height: 100%;
}
.menu {
    display: flex;
    justify-content: space-between;
    width: fit-content;
}
.menu-column{
     width: 30%;
}
.menu-column h4{
    text-transform: capitalize;
    font-size: 26px;
    font-weight: 500;
}
.menu-content {
    color: black;
    font-style: normal;
}
.padding-search {
    padding-left: 20px;
    border: 1px solid rgba(201, 189, 189, 0.822);
}
.recherche {
    height: 50px;
    width: 230px;
    font-size: 18px;
    color: black;
    font-weight: bold;
}
.icon-size {
    height: 50px;
    width: 50px;
    border-radius: 10px 0 0 10px;
}
.buttom-search {
    height: 50px;
    width: 120px;
    color: white;
}
/*HEADER */
.bordure-search {
    width: 400px;
    border-radius: 10px;
    border: 0.5px solid white;
}
.padding-search {
    padding-left: 20px;
}
.recherche{
 height: 50px;
 width: 230px;
 font-size: 18px;
 color: black;
 font-weight: bold;
}
.icon-size {
height: 50px;
width: 50px;
border-radius: 10px 0 0 10px;
}
.c{
    height: 50px;
    width: 120px;
    color: white;
    cursor: pointer;
    border-radius: 0 10px 0 10px;
}
body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px;
}
nav ul li a{
color: blue;
letter-spacing: 0.1rem;
}
.sends3 {
    margin-left: 300px;
}
.send {
    margin-left: 40px;
}
.sendi {
    margin-left: 30px;
}
.sends {
    margin-left: 20px;
}
.sends1 {
    margin-left: 10px;
}
.sends2 {
    margin-left: 5px;
}
.sun {
    margin-right: 40px;
}
.su {
    margin-right: 35px;
}
.suns {
    margin-right: 200px;
}
.sa {
    margin-top: 5px;
}
.sam {
    margin-top: 10px;
}
.same {
    margin-top: 50px;
}
.sams {
    margin-bottom: 30px;
}
.sams1 {
    margin-bottom: 100px;
}
form{
    padding: 35px;
}
input[type="search"]{
    font-size: 15px;
}
.buttom-search {
    height: 50px;
    width: 120px;
    color: white;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
}
/* Filtres */
.marg-filtre {
    margin-top: 50px;
    margin-bottom: 40px;
}
.filtre {
    display: flex;
    align-items: center;
}
.marg-filtre-titre {
    margin-right: 20px;
}
.filtre-texte-icons {
    border: 2px solid cornsilk;
    height: 50px;
    border-radius: 30px;
    margin-right: 20px;
}
.filtre-texte-icons:hover > 
.filtreTexte {
    color: blue;
}
/* responsive */

    @media screen and (max-width: 1295px) {
        .sizeLien12 {
            margin-left: 35%;
        }
        .cube-details-hebergements {
            min-height: 150px;
        }
        .size-hebergements {
            min-height: auto;
            padding: 20px;
        }
        .size-populaires {
            min-height: auto;
            padding: 20px;
        }
    }




